body {
    border: 1px solid red;
    width: 50em;
    padding: 10px;
    
}

h1 {
    color: lime;
    text-align: center;		
}

h2 {
    color: darkred;
}

.lorem {
    text-align: center;
}

.ipsum {
    text-align: center;
}

hr {
    margin: 10px;
}

strong {
    color: blue;
}

em {
    color: blue;
}

ul li {
    color: green;
}

.imagine {
    margin-left: 60px;	
}
